.notationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: relative;
}

.mainTarget, .overlayTarget {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.overlayTarget {
    z-index: 10;
    opacity: 50%;
}