@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Garcia;
    /* woff fonts had more space above than below... */
    src: url("fonts/Garcia/GARCIA-Regular.otf") format("opentype");
}

@font-face {
    font-family: Adelle-Sans;
    src: url("fonts/Adelle\ Sans/adelle-sans.otf") format("opentype");
}

@font-face {
    font-family: Adelle-Sans;
    src: url("fonts/Adelle\ Sans/adelle-sans-bold.otf") format("opentype");
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    overflow: hidden;
}